.title
{
    width: 40vw;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10%;
    padding: 10px 5px 5px 5px;
    border-radius: 10px;
    font-family:Tahoma;
    font-weight: bold;
    font-size: 18px;
}
.note
{
    width: 40vw;
    height: 100px;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 5px 10px 5px;
    border-radius: 10px;
    font-family: Georgia;
    font-size: 15px;
    font-style: italic;
}
.add
{
    width: 150px;
    height: 40px;
    font-size: 20px;
    margin-left: 39%;
    border-radius: 5px;
    background-color: azure;
}
.add:hover
{
    background-color:rgb(28, 160, 153);
    color: rgb(255, 255, 255);
    box-shadow: 4px 5px 3px 4px rgb(0, 0, 0);
    
}
